.vectors-input {

}

.vectors-input label {
    font-weight: bold;
    display: block;
    padding: 5px;
}

.vectors-input .vector-row {
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 5px;
}