.degree-input, .accidental-input, .octave-input {
    margin: 0 0 8px 8px;
}

.degree-input > .button-input {
    border-radius: 0;
    background-color: white;
    color: black;
    border: 1px solid #aaa;
}

.degree-input > .button-input:hover {
    background-color: #ddd;
}

.degree-input > .button-input:first-child {
    border-radius: 4px 0 0 4px;
}

.degree-input > .button-input:last-child {
    border-radius: 0 4px 4px 0;
}


.accidental-input > .button-input {
    border-radius: 0;
    background-color: white;
    color: black;
    border: 1px solid #aaa;
}

.accidental-input > .button-input:hover {
    background-color: #ddd;
}

.accidental-input > .button-input:first-child {
    border-radius: 4px 0 0 4px;
}

.accidental-input > .button-input:last-child {
    border-radius: 0 4px 4px 0;
}

