.button-input {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    min-width: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #F7A072;
    color: white;
    padding: 0 16px;
}

.button-input:hover {
    background-color: #f47f42;
}

.button-input.highlight {
    background-color: #ddd;
}