.card {
    width: 90%;
    margin: 50px;
    min-width: 512px;
    border-radius: 16px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .1)
}

.card > .title, .card > .content {
    padding: 16px;
}

.card > .title {
    font-weight: bolder;
    border-radius: 4px;
}

.card > .content {
    font-weight: bolder;
}

.card.open > .title {
    
}

.card > .content {
    
}