.card {
    width: 100%;
}

.card .title, .card .content {
    text-align: center;
    padding: 10px;
}

.card .title {
    font-weight: bolder;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.card .title:hover {
    cursor: pointer;
}

.card.open .title {
    
}

.card .content {
    
}