.card {
    width: 100%;
    min-width: 512px;
    max-width: 1024px;
    margin: auto;
    background-color: white;
    border-radius: 20px;
}

.card .title, .card .content {
    text-align: center;
    padding: 10px;
}

.card .title {
    font-weight: bolder;
    padding: 32px 32px 16px 32px;
    border-bottom: 1px solid #aaa;
}

.card .content {
    font-weight: bolder;
    padding: 16px 32px 32px 32px;
}

.card.open .title {
    
}

.card .content {
    
}