.tuning-panel {
	min-width: 50px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	text-align: center;
	padding-top: 2px;
}

.tuning-octave {
	margin-left: 2px;
}

.tune {
	cursor: pointer;
}

.tune:hover {
	color: #5E99D1;
}

.tuning {
	font-weight: bold;
}