.interval, .note, .key-center {
    border-radius: 8px;
    margin: 8px;
    padding: 4px;
    white-space: nowrap;
}

.interval, .note {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.key-center {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    margin: 8px;
    box-sizing: border-box;
}

.name {
    font-weight: bold;
    font-size: 200%;
}

.pitch-index, .pod {
    display: inline-block;
    margin: 2px;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card {
    margin: 16px;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    background-color: #EEE;
}

.subcard {
    margin: 8px;
    padding: 8px;
    background-color: #DDD;
    border-radius: 8px;
}