.concept-chart-input {
    text-align: center;
}

.concept-chart-section {
    padding: 8px;
    padding-top: 16px;
    margin: 8px;
    border-radius: 8px;
}


.concept-chart-section > .name {
    font-weight: bold;
}

.concept-chart-section > .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.concept-chart-block {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    grid-gap: 4px;
    position: relative;
}

.concept-chart-block > .name {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    padding: 4px;
    border-radius: 4px;
}

.concept-chart-block .edit, .concept-chart-block .remove {
    font-size: 90%;
    font-weight: bold;
}

.concept-chart-block .edit-panel {
    position: absolute;
    top: 100%;
    left: 0;
    min-height: 128px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
    z-index: 1000;
}