.concept-chart-input {
    text-align: center;
    padding: 16px;
    margin: 16px;
    border-radius: 16px;
}

.concept-chart-input > .heading {
    font-size: 120%;
    font-weight: bold;
    padding: 4px;
}

.concept-chart-block {
    position: relative;
}

.concept-chart-block > .name {
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
}

.concept-chart-block .edit, .concept-chart-block .remove {
    font-size: 90%;
    font-weight: bold;
    padding: 4px;
}

.concept-chart-block .edit-panel {
    position: absolute;
    top: 100%;
    left: 0;
    min-height: 128px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
    z-index: 1000;
}