/* General */

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Fretboard */

.fretboard {
	display: inline-block;
	display: inline-grid;
	width: 100%;
	background-image: radial-gradient(ellipse, #E8DBB8 0%, #D0B27C 100%);
	font-size: 12px;
	text-align: center;
	font-family: sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Fret */

.fret {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-right: 2px solid darkgrey;
}

.fret.open {
	border-right: 3px solid grey;
}

/* Used to maintain aspect ratio */

.fret::before {
	content: "";
	display: block;
	height: 0;
	width: 0;
	margin-top: calc(1/2 * 100%);
}

/* Fret String */

.fret-string {
	background-color: grey;
	height: 1px;
	width: 100%;
}

/* Fret Numbers */

.fret-number {
	position: absolute;
	bottom: 105%;
}

/* Fret Dots */

.fret-dots {
	position: absolute;
	top: 100%;
	font-size: 16px;
	white-space: nowrap;
}

.fret-number, .fret-dots {
	color: #555;
}

/* Fret Label */

.fret-label {
	position: absolute;
	width: 90%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
}

.fret-label:hover {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

/* Inputs */

.controller-title {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	background-color: #5E99D1;
	color: white;
	border-radius: 10px 10px 0 0;
}

.fretboard-container {
	width: 100%;
	margin: auto;
	background-color: #badbeb;
    padding: 10px;
    box-sizing: border-box;
    border-right: 2px solid #5E99D1;
    border-left: 2px solid #5E99D1;
}

.fretboard-controller {
	width: 100%;
	max-width: 500px;
}

.input-container {
	max-width: 500px;
	margin: auto;
	border-radius: 0 0 10px 10px;
	background-color: #badbeb;
	border-left: 2px solid #5E99D1;
	border-right: 2px solid #5E99D1;
	border-bottom: 2px solid #5E99D1;
	padding: 0 10px 10px 10px;
}

.preview {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	background-color: #8cc4de;
	color: white;
	padding: 5px;
	border-radius: 10px;
}

.preview.active {
	background-color: #5E99D1;
	border-radius: 10px 10px 0 0;
}

.input-box {
	padding: 10px;
    margin: auto;
	background-color: #c9e3f0;
	border-radius: 0 0 10px 10px;
	border: 2px solid #5E99D1;
}

.panel-name {
	width: 100%;
    padding: 5px;
    background-color: #AAA;
    cursor: pointer;
    margin: 2px;
    text-align: center;
    border-radius: 2px;
}

.panel-name.active {
	background-color: #5E99D1;
	color: white;
}

.panel-name-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.labeled-input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5px;
}

.label-text {}