.chart {

}

.chart .section {

}

.chart .section .name {
    font-size: 120%;
    font-weight: bold;
    text-align: left;
    padding: 4px;
}

.chart .section .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chart .section .row .col {
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 50px;
    flex-basis: 10px;
    box-sizing: border-box;
}

.chart .section .row .col .tonic {
    font-weight: bold;
}


.chart .section .row .col .preset {
   margin-left: 4px;
}

