.chart {

}

.chart .section {

}

.chart .section .name {
    font-size: 120%;
    font-weight: bold;
}

.chart .section .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chart .section .row .col {
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #eee;
}