.concept-input {
    margin: 5px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-top: 1px solid #333;
    min-height: 30px;
}