/* General */

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Fretboard */

.fretboard {
	display: inline-block;
	display: inline-grid;
	width: 100%;
	background-image: radial-gradient(ellipse, #E8DBB8 0%, #D0B27C 100%);
	font-size: 12px;
	text-align: center;
	font-family: sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Fret */

.fret {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-right: 2px solid darkgrey;
}

.fret.open {
	border-right: 3px solid grey;
}

/* Used to maintain aspect ratio */

.fret::before {
	content: "";
	display: block;
	height: 0;
	width: 0;
	margin-top: calc(1/2 * 100%);
}

/* Fret String */

.fret-string {
	background-color: grey;
	height: 1px;
	width: 100%;
}

/* Fret Numbers */

.fret-number {
	position: absolute;
	bottom: 105%;
}

/* Fret Dots */

.fret-dots {
	position: absolute;
	top: 100%;
	font-size: 16px;
	white-space: nowrap;
}

.fret-number, .fret-dots {
	color: #555;
}

/* Fret Label */

.fret-label {
	position: absolute;
	width: 90%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
}

.fret-label:hover {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

/* Inputs */

.fretboard-controller {
	display: inline-block;
	margin: 20px;
}

.fretboard-container {
	width: 100%;
	margin: auto;
    padding: 20px 20px 0 20px;
	box-sizing: border-box;
	border-radius: 15px 15px 0 0;
    background-color: #badbeb;
}

.input-container {
	position: relative;
	background-color: #badbeb;
    border-radius: 0 0 10px 10px;
}

.preview {
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	background: #5E99D1;
	color: white;
	padding: 5px;
	border-radius: 0 0 15px 15px;
	z-index: 1001;
}

.preview:hover {
}

.preview.active {
	border-radius: 0;
}

.input-modal {
	position: absolute;
    z-index: 1000;
	left: 0;
	right: 0;
	border-radius: 0 0 10px 10px;
	/*box-shadow: 0 0 15px rgba(0,0,0,.5);*/
}

.fretboard-controller.edit .fretboard-container
{
	background-color: #9EC1E3;
}

.fretboard-controller.edit .input-modal,
.fretboard-controller.edit .preview
{
	background-color: #5E99D1;
}

.panel-name {
	width: 100%;
    padding: 5px;
    cursor: pointer;
	box-sizing: border-box;
}

.panel-name-container {
	
}

.labeled-input {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 5px;
}

.label-text {}

.panel-name {
	font-weight: bold;
}

.panel {
	background: #9EC1E3
}

/* Panel Themes */

.primary {
	/*border: 2px solid #d15eac;*/
	color: #d15eac;
}

.primary:hover, .primary.active {
	background-color:  #d15eac;
	color: white;
}

.secondary {
	/*border: 2px solid #5ed183;*/
	color: #5ed183;
}

.secondary:hover, .secondary.active {
	background-color:  #5ed183;
	color: white;
}