.input-block {

}

.input-block > .content {
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.input-block > .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 90%;
    color: #555;
    margin: 4px;
}