.summary {
    
}

.note-block {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.note-block div {
    display: block;
    margin: 5px;
    font-size: 10px;
}

.note-block .name {
    font-weight: bold;
    font-size: 150%;
}