.pw-primary {
  background-color: #414770;
  color: #FFF;
}
.pw-primary.link:hover {
  background-color: #2e3350;
}
.pw-secondary {
  background-color: #5B85AA;
  color: #FFF;
}
.pw-secondary.link:hover {
  background-color: #486b8a;
}
.pw-accent {
  background-color: #F46036;
  color: #FFF;
}
.pw-accent.link:hover {
  background-color: #ea3e0d;
}
.pw-light {
  background-color: #EBEBEB;
  color: #000;
}
.pw-light.link:hover {
  background-color: #d2d2d2;
}
.pw-medium {
  background-color: #C0C0C0;
  color: #000;
}
.pw-medium.link:hover {
  background-color: #a7a7a7;
}
.pw-dark {
  background-color: #232323;
  color: #FFF;
}
.pw-dark.link:hover {
  background-color: #3d3d3d;
}
label {
  display: inline-block;
  font-weight: bold;
  margin: 4px;
}
