.pw-primary {
  background-color: #414770;
  color: #FFF;
}
.pw-primary.link:hover {
  background-color: #2e3350;
}
.pw-secondary {
  background-color: #5B85AA;
  color: #FFF;
}
.pw-secondary.link:hover {
  background-color: #486b8a;
}
.pw-accent {
  background-color: #5B85AA;
  color: #FFF;
}
.pw-accent.link:hover {
  background-color: #486b8a;
}
.pw-light {
  background-color: #F6F7EB;
  color: #000;
}
.pw-light.link:hover {
  background-color: #e6e8c7;
}
.pw-medium {
  background-color: #B8BDB5;
  color: #000;
}
.pw-medium.link:hover {
  background-color: #9ea59a;
}
.pw-dark {
  background-color: #272635;
  color: #FFF;
}
.pw-dark.link:hover {
  background-color: #3d3b53;
}
.pw-inactive {
  background-color: #B8BDB5;
  color: #F6F7EB;
}
.pw-active {
  background-color: #5B85AA;
  color: #FFF;
}
label {
  display: inline-block;
  font-weight: bold;
  margin: 4px;
}
