.summary .interval-arr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.summary .interval {
    width: 128px;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 8px
}