.concept {
    margin-bottom: 32px;
}

.summary .interval-arr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.summary .interval {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 8px;
    border: 1px solid #555;

}

.summary .interval div {
    margin: 8px;
}

.summary .interval .name {
    font-weight: bold;
}

.summary .key-center {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    border-radius: 8px;
    padding: 4px;
    margin: 8px;
    box-sizing: border-box;
    border: 1px solid #555;

}

.summary .ps {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary .p {
    height: 32px;
    width: 100%;
    margin: 2px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #555;
}