.summary .interval-arr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.summary .interval {
    width: 128px;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 8px
}

.summary .key-center {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin: 8px
}

.summary .ps {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary .p {
    height: 32px;
    width: 100%;
    margin: 2px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #555;
}