.range-input {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: 40px;
}

.range-input .value {
    font-size: 12px;
    color: #333;
    line-height: 20px;
    width: 10px;
}

.range-input .track {
    margin: 5px 5px;
    background-color: #AAA;
    height: 10px;
    border-radius: 5px;
    position: relative;
}

.range-input .marker {
    background-color: #EEE;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    position: absolute;
    top: -5px;
    z-index: 1000;
    cursor: pointer;
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.range-input .marker-input {
    position: absolute;
    height: 20px;
    width: 40px;
    top: -30px;
}

.range-input .active {
    height: 100%;
    position: absolute;
    background-color: #5E99D1;
    z-index: 100;
}
